{
    "branches": ["main"],
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/changelog",
        {
          "changelogFile": "docs/CHANGELOG.md"
        }
      ],
      [
        "@semantic-release/git",
        {
          "assets": ["docs/CHANGELOG.md"]
        }
      ],
      "@semantic-release/github",
      ["@semantic-release/exec", {
        "prepareCmd": "npm run build"
      }],
      [
        "@rimac-technology/semantic-release-ecr",
        {
          "buildImage": "docker build . -t api",
          "imageName": "api"
        }
      ]
    ]
}